<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>

        <!-- File Appender -->
        <File name="FileAppender" fileName="logs/application.log" append = "true">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <!-- Console Logger -->
        <Root level="warn">
            <AppenderRef ref="Console" />
        </Root>

        <!-- File Logger -->
        <Logger name="testBase.BaseTestClass" level="all" additivity="false">
            <AppenderRef ref="FileAppender" />
        </Logger>

        <Logger name="utilities.ExtentReportUtility" level="all" additivity="false">
            <AppenderRef ref="FileAppender" />
        </Logger>

        <Logger name="testCases.TC_01_SubscribeTest" level="all" additivity="false">
            <AppenderRef ref="FileAppender" />
        </Logger>

        <Logger name="org.testng" level="info" additivity="false">
            <AppenderRef ref="FileAppender" />
        </Logger>

    </Loggers>
</Configuration>